# Metacommands
In Postgres can use [psql metacommands](https://www.postgresql.org/docs/current/app-psql.html) also known as slash or backslash commands.

In [1]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://bob:1234@localhost:5432/dvdrental')
engine.execution_options(isolation_level="AUTOCOMMIT")
%load_ext sql
%sql $engine.url

'Connected: bob@dvdrental'

In [2]:
%sql \dt

 * postgresql://bob:***@localhost:5432/dvdrental
15 rows affected.

[('public', 'actor', 'table', 'postgres'),
 ('public', 'address', 'table', 'postgres'),
 ('public', 'category', 'table', 'postgres'),
 ('public', 'city', 'table', 'postgres'),
 ('public', 'country', 'table', 'postgres'),
 ('public', 'customer', 'table', 'postgres'),
 ('public', 'film', 'table', 'postgres'),
 ('public', 'film_actor', 'table', 'postgres'),
 ('public', 'film_category', 'table', 'postgres'),
 ('public', 'inventory', 'table', 'postgres'),
 ('public', 'language', 'table', 'postgres'),
 ('public', 'payment', 'table', 'postgres'),
 ('public', 'rental', 'table', 'postgres'),
 ('public', 'staff', 'table', 'postgres'),
 ('public', 'store', 'table', 'postgres')]