# Setting up the Postgres Connection
In order to create a connection to the database (from this Jupyter notebook), we gotta import `sqlalchemy`, and [configure the engine](https://docs.sqlalchemy.org/en/20/core/engines.html), according to the settings we used when creating the user and the database.

In [1]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://bob:1234@localhost:5432/bobDB')
engine.connect()
# engine.execution_options(isolation_level="AUTOCOMMIT")

## Magic Commands
Now we want to [load the ipython-sql extension](https://ipython.readthedocs.io/en/stable/config/extensions/index.html):

In [2]:
%load_ext sql

Thanks to the extension above, now we can run magic commands, aka [magics](https://ipython.readthedocs.io/en/stable/interactive/magics.html) (the ones that start with `%` or `%%`). For example, if we wanted to check the connection, we could run:

In [3]:
%sql $engine.url

'Connected: bob@bobDB'

Another variation is to use `%%sql` on its own line (the first line), and the SQL below it:

In [4]:
%%sql
SELECT * FROM pg_database;

 * postgresql://bob:***@localhost:5432/bobDB
4 rows affected.

[(13682, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13681, '479', '1', 1663, None),
 (16385, 'bobDB', 16384, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13681, '479', '1', 1663, None),
 (1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 13681, '479', '1', 1663, '{=c/javi,javi=CTc/javi}'),
 (13681, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 13681, '479', '1', 1663, '{=c/javi,javi=CTc/javi}')]

## Postgres Metacommands
We can even run **metacommands** using the magic thing:

In [5]:
%sql \du

 * postgresql://bob:***@localhost:5432/bobDB
10 rows affected.

[('bob', True, True, True, True, True, -1, None, [], False),
 ('javi', True, True, True, True, True, -1, None, [], True),
 ('pg_execute_server_program',
  False,
  True,
  False,
  False,
  False,
  -1,
  None,
  [],
  False),
 ('pg_monitor',
  False,
  True,
  False,
  False,
  False,
  -1,
  None,
  ['pg_read_all_settings', 'pg_read_all_stats', 'pg_stat_scan_tables'],
  False),
 ('pg_read_all_settings',
  False,
  True,
  False,
  False,
  False,
  -1,
  None,
  [],
  False),
 ('pg_read_all_stats', False, True, False, False, False, -1, None, [], False),
 ('pg_read_server_files',
  False,
  True,
  False,
  False,
  False,
  -1,
  None,
  [],
  False),
 ('pg_signal_backend', False, True, False, False, False, -1, None, [], False),
 ('pg_stat_scan_tables',
  False,
  True,
  False,
  False,
  False,
  -1,
  None,
  [],
  False),
 ('pg_write_server_files',
  False,
  True,
  False,
  False,
  False,
  -1,
  None,
  [],
  False)]

We can also run the `psql` command (or any other shell command) prepending a `!`, but note that we don't get an **interactive prompt**, just the static output.

In [ ]:
!psql --username=bob --db=bobDB

psql (12.9)
Type "help" for help.

bobDB=#